# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
backend/.env
.env

# installer files
node-v20.20.2-x64.msi
tools-node-v20.20.2-win-x64.zip
tools-node-v20.20.2/

# dependencies
node_modules/

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
